

#index {
   background-image: url("../images/background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
}

#philadelphia {
   background-image: url("../images/philadelphia.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vp;
}

#dynamic {
   background-image: url("../images/map_test.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vp;
}

#homepage h1 {
  margin-top: 1em;
  font-size: 4em;
  color: white;
}

#footer p {
  color: #999;
}

#map {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background-color: grey;
}
}

h2 {
  font-size: 200px;
}

#people_overdosed h2 {
    font-size: 200px;
}

h3 {
  font-size: 60px;
}

.input-group {
  padding: 75px;
}

.col {
  margin: 20px;
}

.three-quaters {
  width: 60%;
  margin: 0 auto;
}


section .content {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

section {
  height: 100vh;
}

.logo_white_firstpage {
    margin-top: 30px;
    width: 100px;
    height: 100px;
}

.logo_white {
    width: 75px;
    height: 75px;
}

.awarness_txt {
    color: white;
}


#awerness {
   background-image: url("../images/awerness.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
}

.map_test {
  width: 70%;
  height: auto;
}


#mainNav {
  background-color: white;
  opacity: .95;
}



.index_footer {
  color: #999;
}

/* dore */
.donate_btn {
  color: white;
}
