#index {
   background-image: url("../images/background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
}

#homepage h1 {
  margin-top: 1em;
  font-size: 4em;
  color: white;
}

#footer p {
  color: #999;
}

#map {
  margin-top: 75px;
  width: 100%;
  height: 500px;
  background-color: grey;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 60px;
}

.input-group {
  padding: 75px;
}

.col {
  margin: 20px;
}

.three-quaters {
  width: 60%;
  margin: 0 auto;
}


section .content {
  height: 90vh;
  display: table-cell;
  vertical-align: middle;
}

section {
  height: 100vh;
}

.logo_black {
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.logo_white {
    width: 70px;
    height: 70px;
}

.awarness_txt {
    color: white;
}

#awerness {
   background-image: url("../images/awerness.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
}

.map_test {
  width: 70%;
  height: auto;
}
