// Font Variables

@import url('https://fonts.googleapis.com/css?family=Overpass|Prosto+One');

$headline-font-size: 200px;

$headline: Prosto One;
$headline-fb: cursive;

$body: Overpass;
$body-fb: sans-serif;
